.bold {
  font-weight: bold;
}

.buttons {
  display: flex;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.align-center {
  justify-content: center;
}

fa-icon {
  cursor: pointer;
}
