@import '/src/assets/scss/variaveis.scss';

mat-card {
  margin: 20px 0 20px 0;
  border-radius: 50px;
  padding: 30px;
}

mat-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 800px) {
  mat-card-title, mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  fa-icon {
    margin-left: 20px;
  }
}
