@import '/src/assets/scss/partials/colors.scss';

mat-toolbar  {
  display: flex;
  justify-content: space-between;
  background-color: $branco;

  h3 {
    font-size: 2rem;
    color: $sucesso;
  }

  .menu {
    ul {
      display: flex;
      align-items: center;
      
      li {
        list-style: none;
        margin: 15px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  
    .selecionado {
      border-top: 3px solid $dark-mode;
      border-bottom: 3px solid $dark-mode;
    }
    
    // .efeitoHover {
    //   border-top: 3px solid $branco;
    //   border-bottom: 3px solid $branco;
    //   text-decoration: none;
    //   transition: 0.3s ease;
    // }
    
    // .efeitoHover:hover {
    //   border-top: 3px solid $dark-mode;
    //   border-bottom: 3px solid $dark-mode;
    //   padding: 3px 0;
    // }
  
    .avatar {
      background-color: $preto;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    
      &:hover {
        box-shadow: 0 0 5px 2px $preto;
      }
    
      span {
        color: $branco;
      }
    }
  }
}
