@import '/src/assets/scss/variaveis.scss';

// Sobreposição na versão mobile
::ng-deep mat-expansion-panel.mat-expansion-panel {
 //  background-color: $dark-mode !important;
}

::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  color: $preto !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: $preto;
}

mat-panel-title > span {
  font-size: 24px;
}

@media (max-width: 800px) {
  mat-panel-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
