@import '/src/assets/scss/variaveis.scss';

.section-container {
  height: 60vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 3rem;
  padding-bottom: 5rem;
  color: $sucesso;
}

h3 {
  font-size: 1.5rem;
  padding-top: 2rem;
}

img {
  height: 30%;
  box-shadow: 0 0 10px 3px $preto;
  cursor: pointer;
  border-radius: 20px;
}

img:hover {
  box-shadow: 0 0 15px 3px $preto;
}

@media (max-width: 800px) {
  h2 {
    font-size: 2rem;
  }
}
