@import '/src/assets/scss/variaveis.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
    border-radius: 20px;
    border: 1px solid $borda;
  }

  .logo {
    width: 100%;
    height: 50%;
  }
  
  h1 {
    color: $sucesso;
  }

  h2 {
    color: $informacao;
  }

  img {
    width: 25%;
    height: 50%;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
