@import '/src/assets/scss/variaveis.scss';

td,
th,
.icone-opcoes,
::ng-deep th.mat-header-cell.cdk-header-cell.cdk-column-acoes.mat-column-acoes.ng-star-inserted {
  color: $branco;
}

.dark-mode,
mat-paginator,
::ng-deep div#mat-select-0-panel,
::ng-deep .mat-menu-tabela {
  background-color: $dark-mode;
}

::ng-deep table.mat-table.cdk-table.mat-elevation-z8,
mat-form-field,
table {
  width: 100%;
}

::ng-deep .mat-paginator-container {
  display: flex;
  justify-content: center !important;
}

::ng-deep th {
  font-size: 30px;
}

.lista-vazia {
  padding: 10px;
}
