@import '../../../../assets/scss/variaveis.scss';

table {
  width: 100%;
}

.dark-mode, mat-paginator {
  background-color: $dark-mode;
}

td, th {
  color: $branco;
}

::ng-deep th.mat-header-cell.cdk-header-cell.cdk-column-acoes.mat-column-acoes.ng-star-inserted {
  color: $branco !important;
}

::ng-deep .mat-menu-content.ng-tns-c44-15 {
  background-color: $dark-mode;
}

.icone-opcoes {
  color: $branco;
}
