@import '/src/assets/scss/variaveis.scss';

table {
  width: 100%;
}

::ng-deep .mat-paginator-container {
  display: flex;
  justify-content: center !important;
}

::ng-deep th {
  font-size: 30px;
}

.lista-vazia {
  padding: 10px;
}
