<form [formGroup]="data.formulario" (ngSubmit)="atualizarPagamento()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Descrição do item</mat-label>
      <input matInput formControlName="descricao" required />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Preço pago</mat-label>
      <input matInput type="number" min="1" formControlName="preco" required />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Data do pagamento</mat-label>
      <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="dataPagamento" required />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="buttons">
    <div class="button">
      <button [disabled]="!data.formulario.valid" type="submit" mat-raised-button color="primary">
        Atualizar
      </button>
    </div>
    <div class="button">
      <button type="button" mat-raised-button color="info" (click)="data.formulario.reset()">
        Limpar
      </button>
    </div>
  </div>
</form>