.title-normal {
  font-size: 2em;
}

.title-toolbar {
  font-size: 1.2em;
}

.title-small {
  font-size: 1.2em;
}

.bold {
  font-weight: bold;
}

.green {
  color: #0f6e42;
}

.title {
  cursor: pointer;
  outline: none;
}
