@import '/src/assets/scss/util.scss';

.container {
  margin: 20px 0 20px 0;
}

.selecionar-mes {
  width: 50%;

  h1 {
    margin: 0 10px;
  }
}

fa-icon {
  margin-left: 10px;
  margin-right: 10px;
}
