<form [formGroup]="formulario">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Salário para este mês</mat-label>
      <input matInput type="number" formControlName="saldo" required />
    </mat-form-field>
  </div>

  <div class="buttons">
    <div class="button">
      <button mat-raised-button color="primary" [disabled]="formulario.get('saldo')?.errors" (click)="addMoney()">
        {{ !data.saldo ? 'Inserir' : 'Atualizar' }}
      </button>
    </div>
    <div class="button">
      <button mat-raised-button color="se" (click)="clear()">Limpar</button>
    </div>
  </div>
</form>
