<app-loader></app-loader>

<section class="section-pagamento container">
  <div class="cards">
    <app-card tituloCard="Data" [icone]="icones.faCalendarAlt">
      <div class="flex">
        <h3>{{ dataAtual | date : "dd/MM/YYYY" }}</h3>
      </div>
    </app-card>
    <app-card tituloCard="Total" [icone]="icones.faDollarSign">
      <div class="flex">
        <h3>{{ isOcultarValor ? 'R$ ***' : (dinheiroTotal | currency : "R$") }}</h3>
        <mat-icon (click)="toogleVisibilidadeValor()">{{
          isOcultarValor ? "visibility" : "visibility_off"
        }}</mat-icon>
      </div>
    </app-card>
  </div>

  <app-card tituloCard="Novo lançamento">
    <form [formGroup]="formulario">
      <app-input formControlName="descricao" [maxLength]="30">Descrição do item</app-input>
      <app-input tipo="number" formControlName="preco">Preço pago</app-input>
      <app-date-picker formControlName="dataPagamento"></app-date-picker>
      <div class="form-buttons">
        <app-button
          [disabled]="!formulario.valid"
          background="sucesso"
          label="label-branco"
          (evento)="adicionarNovoPagamento()"
          >Cadastrar</app-button
        >
        <app-button
          background="branco"
          label="label-preto"
          (evento)="limparFormulario()"
          >Limpar</app-button
        >
      </div>
    </form>
  </app-card>

  <div class="tabela">
    <div class="filtros">
      <div class="filtro-descricao">
        <app-input [isRequired]="false" [(ngModel)]="filtrarDescricao">Filtrar</app-input>
      </div>

      <div class="dropdown">
        <app-input-dropdown [dadoSelecionado]="mesAtual" [opcoes]="meses" (emitDados)="setMesFiltrado = $event"></app-input-dropdown>
        <app-input-dropdown [dadoSelecionado]="anoAtual" [opcoes]="anos" (emitDados)="setAnoFiltrado = $event"></app-input-dropdown>
      </div>

    </div>

    <app-tabela
      [dados]="listaAuxiliar"
      [colunas]="colunas"
      (editarEmit)="editarPagamento($event)"
      (deletarEmit)="deletarPagamento($event)"
    >
    </app-tabela>
  </div>
</section>
