<app-loader-pagamentos></app-loader-pagamentos>

<section class="section-container">
    <app-accordion painelTitulo="Cadastrar Novo Pagamento">
      <form [formGroup]="formulario">
        <app-input formControlName="descricao">Descrição do item</app-input>
        <app-input tipo="number" formControlName="preco">Preço pago</app-input>
        <app-date-picker formControlName="dataPagamento"></app-date-picker>
        <app-button [disabled]="!formulario.valid" background="sucesso" label="label-branco" (evento)="adicionarNovoPagamento()">Cadastrar</app-button>
        <app-button background="branco" label="label-preto" (evento)="limparFormulario()">Limpar</app-button>
      </form>
    </app-accordion>

    <app-card tituloCard="Informações">
      <app-informacao [dinheiroTotal]="dinheiroTotal"></app-informacao>
    </app-card>

    <app-card tituloCard="Opções">
      <app-opcoes></app-opcoes>
    </app-card>


  <div class="mat-elevation-z8">
    <div class="filtro-mes container flex">
      <app-input-filtro [dados]="dados" (listaFiltrada)="listaAuxiliar = $event"></app-input-filtro>
      <app-seletor-datas (lista)="setPagamentos = $event" (dinheiroTotal)="setDinheiroTotal = $event"></app-seletor-datas>
    </div>

    <app-tabela
      [dados]="listaAuxiliar"
      [colunas]="colunas"
      (editarEmit)="editarPagamento($event)"
      (deletarEmit)="deletarPagamento($event)"
    >
    </app-tabela>
  </div>

</section>
