@import "/src/assets/scss/util.scss";
@import "/src/assets/scss/partials/colors.scss";

app-card, 
app-button, 
mat-icon {
  flex: 1;
  padding: 0 5px;
}

mat-icon  {
  color: $sucesso;
}

form {
  display: flex;

  app-input,
  app-date-picker {
    padding: 0 5px;
    min-width: 20%;
  }

  .form-buttons {
    display: flex;
  }
}

.cards,
form {
  display: flex;
  align-items: center;
}

.filtros {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;

  .dropdown {
    display: flex;
    gap: 10px;
  }
}

.filtro-descricao {
  width: 20%;
}

.tabela {
  border: 1px solid $borda;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  app-card {
    width: 100%;
  }

  .cards,
  form {
    flex-direction: column;
  }

  form {
    width: 100%;

    app-input,
    app-date-picker {
      width: 100%;
      padding: 5px 0;
    }
  }

  .filtros {
    flex-direction: column;

    .filtro-descricao,
    .dropdown {
      width: 100%;
    }
    
    .dropdown {
      flex-direction: column;
    }
  }
}
