  <mat-toolbar class="toolbar" (window:resize)="capturarTamanhoTela($event)" *ngIf="(!toolbarService.mobile && !esconderToolbar)">
  <div class="logo">
    <h3>MeusGastos</h3>
  </div>
  <div class="menu">
    <ul>
      <li
        [ngClass]="marcarItemMenu(item.path)"
        *ngFor="let item of menu"
        [routerLink]="item.path"
      >
        {{ item.nome }}
      </li>
      <!-- <li
        *ngIf="loginService.nomeUsuario !== null; else login"
        [matMenuTriggerFor]="menuUsuario"
        [ngClass]="marcarItemMenu()"
      >{{ loginService.nomeUsuario }}</li>
      <ng-template #login>
        <li
          routerLink="entrar"
          [ngClass]="marcarItemMenu()"
        >
          Login
        </li>
      </ng-template> -->
      <li>
        <div [matMenuTriggerFor]="menuUsuario" class="avatar">
          <span>{{ nomeResumido }}</span>
        </div>
      </li>
    </ul>
    <mat-menu class="mat-menu-toolbar" #menuUsuario="matMenu">
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
  </div>
</mat-toolbar>

<div (window:resize)="capturarTamanhoTela($event)" *ngIf="(toolbarService.mobile && !esconderToolbar)">
  <div class="logo-mobile">
    <h3>MeusGastos</h3>
    <app-menu class="menu"></app-menu>
  </div>
  <div [ngClass]="{'menu-mobile-desativado' : !menuService.isAtivo, 'menu-mobile-ativado' : menuService.isAtivo}">
    <ul>
      <li
        *ngFor="let item of menu"
        (click)="redirecionar(item.path)"
      >
        {{ item.nome }}
      </li>
      <li
        *ngIf="loginService.nomeUsuario !== null; else login"
        [matMenuTriggerFor]="menuUsuario"
      >{{ loginService.nomeUsuario }}</li>
      <ng-template #login>
        <li
          routerLink="entrar"
        >
          Login
        </li>
      </ng-template>
    </ul>
    <mat-menu #menuUsuario="matMenu">
      <button mat-menu-item (click)="loginService.logout()">Sair</button>
    </mat-menu>
  </div>
</div>
