@import '../../../assets/scss/variaveis.scss';
@import '../../../assets/scss/mobile-style/toolbar-mobile.scss';

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: $dark-mode;
}

.toolbar > .logo > h3 {
  font-size: 2rem;
}

.menu > ul {
  display: flex;
  align-items: center;
}

.menu > ul > li {
  list-style: none;
  margin: 15px;
}

li {
  font-size: 20px;
}

li:hover {
  cursor: pointer;
}

.manterMarcado {
  border-top: 3px solid $branco;
  border-bottom: 3px solid $branco;
}

.efeitoHover {
  border-top: 3px solid $dark-mode;
  border-bottom: 3px solid $dark-mode;
  text-decoration: none;
  transition: 0.3s ease;
}

.efeitoHover:hover {
  border-top: 3px solid $branco;
  border-bottom: 3px solid $branco;
  padding: 3px 0;
}

.avatar {
  background-color: $branco;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar > span {
  color: #000;
}

.avatar:hover {
  box-shadow: 0 0 5px 2px $branco;
}
