@import '../../../../../assets/scss/variaveis.scss';

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.button-yes {
  background-color: rgb(9, 155, 9);
  color: $branco;
}

.button-no {
  background-color: rgb(196, 21, 21);
  color: $branco;
}

.buttons {
  margin: 0 10px 0 0;
}

::ng-deep mat-dialog-container {
  background-color: $dark-mode !important;
}
