@import '/src/assets/scss/partials/colors.scss';

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .form-buttons {
    display: flex;
    gap: 5px;
    padding-top: 5px;
  }
}
