<section id="section1" class="section1">
  <div>
    <h1>Praticidade e controle de um jeito fácil</h1>
    <h2>Controle seus gastos mensais de forma fácil e rapido, com poucas informações</h2>
    <app-button nome="Começar agora" tipo="sucesso" (evento)="usuarioLogado()"></app-button>
  </div>
  <div>
    <img src="assets/imgs/imagem1.png" alt="imagem1" />
  </div>
</section>
<hr>
<section id="section2" class="section2">
  <h1>Contato</h1>
  <h3>Este sistema está em construção e pode apresentar instabilidades e bugs.</h3>
  <div class="info-dev">
    <h3>Desenvolvedor: Gustavo de Souza de Lima</h3>
    <h3>E-mail: gustavosouza501@gmail.com</h3>
  </div>
  <div class="button">
    <app-button nome="Relatar Bug" tipo="sucesso"></app-button>
  </div>
</section>
